* {
	margin: 0 auto;
}

body {
	background-image: url("../images/Diablo2.png");
	background-repeat: no-repeat;
	background-size: 1940px 1080px;
}

#wrapper {
	position: relative;
	top: 100px;
	/*background-image: url("../images/burried.png");*/
	background-color: black;
	width: 700px;
	text-align: center;
	color: white;
}

#main-header {
	padding-top: 10px;
	font-size: 45px;
	color: #f97704;
}

#timer {
	font-size: 35px;
}

p {
	font-size: 25px;
}

input {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-bottom: 5px;
}



span {
	font-size: 20px;
}

#timer-integer, #timeUpOrDone {
	font-size: 35px;
}